<configuration>
	<config>
		<add key="repositoryPath" value="nuget_pkg_lnk" />	
	</config>
	<packageSources>
		<add key="BSW Nuget" value="https://internal.bswtechconsulting.com:8111/guestAuth/app/nuget/v1/FeedService.svc/" />
		<add key="Nuget official" value="https://nuget.org/api/v2/" />	
	</packageSources>
</configuration>